
.marcador{
    margin-top: 10px;
    width: 150px;
    height: 150px;
    box-shadow: 5px 5px 5px rgb(193 193 193);
    background-color: aqua;
    display:flex;
    flex-direction: column;
    margin-left: 0;
    align-items: center;
    padding: 0px;
    padding-top: 8px;

}

.marcador img {
    width: 100px;
    object-fit: contain;
}
